body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    color: #fff;
}

main {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    flex: 0 0 75%;
    margin-right: 20px;
}

.blog-post {
    font-size: 18px;
    line-height: 1.5
}
